.shortcuts-input {
    width: 400px;
    height: 80px;
    background-color: #3c3c3c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    .van-field__control:read-only {
        cursor: pointer !important;
    }
}

.shortcuts-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .tips {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.shortcuts-input-body {
    .van-field__control:read-only {
        cursor: pointer !important;
    }
}

.van-field__label {
    width: 10em;
}

