{
    "plugins": [
        "@vue/babel-plugin-jsx"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs",
            ]
        }
    }
}