:root {
    --background-color: rgb(24, 24, 28);
}

html,
body {
    width: 100%;
    height: 100%;
}

#options-root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);

    .options-header {
        padding: 20px 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #26262a;
    }

    .options-inside-header {
        padding-bottom: 10px;
    }
    main {
        padding: 100px 200px;
        display: flex;
        flex: 1;
    }
    .video-roll-logo-text {
        height: 25px;
    }

    .options-panel, .options-content {
        padding: 0px 10px;
        color: #ffffff;
    }

    .options-title {
        font-size: 25px;
    }

    .options-title-1 {
        font-size: 20px;
    }
}