#app {
  width: 300px;
  background-color: #18181c;
}
#app .video-roll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26262a;
  color: #fff;
  font-weight: bold;
  height: 40px;
  padding: 0 10px;
}
#app .video-roll-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app .video-roll-content .video-roll-website {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 0;
}
#app .video-roll-content .video-roll-rotate-control {
  width: 120px;
  height: 120px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: relative;
}
#app .video-roll-content .video-roll-rotate-control .rotate-btn {
  position: absolute;
}
#app .video-roll-content .video-roll-rotate-control .rotate-up {
  left: 50%;
}
#app .video-roll-content .video-roll-rotate-control .rotate-left {
  top: 50%;
  transform: translate(-50%);
}
#app .video-roll-content .video-roll-rotate-control .rotate-down {
  bottom: 0;
  left: 50%;
}
#app .video-roll-content .video-roll-rotate-control .rotate-right {
  right: 0;
  top: 50%;
}
#app .video-roll-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px 0;
  color: #fff;
}

