.cell-title {
    display: inline-block;
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    &:hover {

        font-weight: bold;
    }
}

.close-icon {
    cursor: pointer;
    color: var(--video-roll-background-active)
}
