.video-roll-scale {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 40px;

    .video-roll-scale-custom {
        width: 100%;
    }
}

.van-radio {
    margin-bottom: 10px;
}

.scale-label {
    color: #fff;
}

.enable-label {
    color: rgba(255, 255, 255, 0.596);
}
