body {
    --van-primary-color: #a494c6 !important;

    margin: 0;
    --van-primary-color: #a494c6 !important;
    --van-sidebar-width: 70px !important;
    --van-sidebar-padding: 12.5px var(--van-padding-sm) !important;
    --van-sidebar-background: #1f1f1f97 !important;
    --van-sidebar-selected-background: #5d5d6045 !important;
    ::-webkit-scrollbar {
        width: 0.3em;
        height: 0.6em;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(155, 155, 155, 0.4);
        border-radius: 0.6em;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(155, 155, 155, 0.6);
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        background: rgba(200, 200, 200, 0.2);
    }
}

#app {
    width: 300px;
    height: 500px;
    background-color: rgb(24, 24, 28);

    .video-roll-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #26262a;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        height: 40px;
        padding: 0 10px;
    }

    main {
        position: relative;
    }

    .video-roll-setting {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .video-roll-resetBtn {
        position: absolute;
        right: 20px;
        top: 10px;
    }
}